<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>arty♡ | Home</title>
</head>
<body>
    <% if (typeof(notification) != "undefined"){ %>
        <div id="main"></div>
        <script>
            const delay = ms => new Promise(res => setTimeout(res, ms));
            async function showNotif(message){
                let CreateNotif = document.createElement('div');
                CreateNotif.classList.add("fade-in");
                CreateNotif.innerHTML = "<h3>" + message + "</h3>";
                document.getElementById("main").appendChild(CreateNotif);

                await delay(5000);
                CreateNotif.classList.remove("fade-in");
                CreateNotif.classList.add("fade-out");

                await delay(1800);
                CreateNotif.remove("fade-out");
            }
            showNotif("<%= notification %>");
        </script>
    <%}%> 
    <section class="main">
        <div class="container">
            <h1>arty<b>♡</b></h1>
            <a href="/login"><button class="loginknop">Login</button></a>
            <a href="/register"><button class="loginknop">Register</button></a>
        </div>
    </section>
</body>
</html>